
.carousel-main-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: pink;
}

.carousel-window {
  height: 100%;
  width: 100%;
  transition: height 0.2s ease;
  overflow: hidden;
}

.carousel-window * {
  flex-wrap: nowrap;
}

.carousel-all-pages-container {
  height: 100%;
  display: flex;
  transition: translate;
  transition-property: transform;
  /* transition-duration: 300ms; */
  transition-timing-function: ease-in-out;
}

.carousel-arrow {
  width: 2.5%;
  cursor: pointer;
  z-index: 1;
  fill: none;
  stroke: gray;
  transition: stroke 0.1s ease;

  &:hover {
    stroke: white;
  }

  &-left {
    position: absolute;
    left: 4%;
    top: 50%;
    transform: translate(-100%, -50%);
  }

  &-right {
    position: absolute;
    left: 98.5%;
    top: 50%;
    transform: translate(-100%, -50%);
  }
}

.carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  width: 100%;

  &-img {
    width: 100%;
    height: auto;
  }

  &-wrapper {
    height: fit-content;
  }
}

.carousel {
  &-bullet {
    &-list {
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translate(-50%, -300%);
      display: flex;
      gap: 10px;
    }

    &-item {
      background-color: transparent;
      cursor: pointer;

      width: 8px;
      height: 8px;
      border-radius: 50%;
      border: 1px rgba(255, 255, 255) solid;
      transition: background-color 0.2s linear;

      &--active {
        background-color: #FFFFFF;
      }
    }
  }
}
