.catalog {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__path {
    font-weight: 500;

    &-item {
      cursor: pointer;
    }
  }

  &__title-category-main {
    margin: 16px 0 24px 0;
    display: inline-block;
  }

  &__subcategories {
    display: flex;
    gap: 8px;

    &-item {
      display: inline-block;
      padding: 10px 16px 11px 16px;

      font-weight: 500;
      border-radius: 16px;
      background: #F0F0F0;
    }
  }

  &__block-1 {
    display: flex;
    flex-direction: column;

  }

  &__block-2 {
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  &__products {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 64px;

  }

  &__filter-display {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 7.3px;
    width: 100%;
  }

  &__params {
    display: flex;
    flex-direction: column;
    max-width: 288px;
    gap: 24px;
    flex-shrink: 0;


    &-element-wrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;

    }

    &-title {
      font-weight: 500;
    }

    &-inputs-wrapper {
      position: relative;

      input {
        max-width: 140px;
        flex-grow: 1;
      }

      &--setPrice {
        display: flex;
        gap: 8px;
      }
    }

    &-input {
      display: block;
      padding: 10px 16px;
      cursor: pointer;
      font-weight: 500;
      border-radius: 16px;
      border: 1px solid #E0E0E0;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10);

      &--expand {
        display: flex;
        align-items: center;
        justify-content: space-between;


      }

      &--setPrice {
        padding-left: 40px;
      }
    }


    &-input-wrapper {
      position: relative;

      &:after {
        color: #B3B3B3;
        font-weight: 500;

        top: 50%;
        left: 16px;
        transform: translateY(-50%);
      }

      &:nth-child(1):after {

        position: absolute;
        content: 'От';
      }

      &:nth-child(2):after {

        position: absolute;
        content: 'До';
      }
    }

    &-reset {
      cursor: pointer;
      border-radius: 16px;
      padding: 10px 0;
      background: #F0F0F0;
    }

  }
}

@media screen and (max-width: 772px) {
  .catalog {
    &__params {
      display: none;
    }

    &__filter-display {
      display: flex;
    }

    &__wrapper {
      gap: 24px;
    }

    &__title-category-main {
      margin: 5px 0 0 0;
    }

    .mobileMenu {
      .catalog__params {
        display: flex;
        justify-content: stretch;
        min-width: 100%;

        .custom-select, .custom-select-wrapper {
          width: 100%;
        }

        &-element-wrapper {
          min-width: 100%;
        }

        &-input {
          min-width: 100%;

          &s-wrapper {
            display: flex;
            flex-grow: 1;
          }

          &-wrapper {
            flex-grow: 1;
          }
        }
      }
    }

    &__block-1 {
      gap: 15px;
    }

    &__block-2 {
      flex-direction: column;
    }

    &__products {
      flex-grow: 0;
      width: 100%;
    }

    &__path {
      display: none;
    }
  }
}


