@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap);
/* Reset and base styles  */
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

textarea:focus {
    outline: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:focus,
:active {
    /*outline: none;*/
}

a:focus,
a:active {
    /* outline: none;*/
}

/* Links */

a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
    /* display: inline-block; */
}

a:hover {
    color: inherit;
    /*text-decoration: none;*/
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li,li {
    list-style: none;

}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

body,
html,
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
}

.content {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    margin-bottom: 100px;
}

a {
    color: #FFA800 !important;
    transition: color .07s linear;

    &:hover {
        cursor: pointer;
        transition: color .07s linear;
        color: #d9981a !important;

    }
;
}
/* @font-face {
  font-family: "Gilroy";
  font-weight: 300;
  src: url("../../../public/fonts/Gilroy-Light.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  src: url("../../../public/fonts/Gilroy-Regular.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  src: url("../../../public/fonts/Gilroy-Medium.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  src: url("../../../public/fonts/Gilroy-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  src: url("../../../public/fonts/Gilroy-Bold.woff") format("woff");
} */

.container{max-width:1210px;width:100%;padding:0 10px;margin:0 auto}*{font-family:"Inter",serif;flex-wrap:wrap}body{font-size:14px}h2{font-size:32px;font-weight:700}.display-none{display:none !important}.border-none{border:0 !important}.custom-select{display:flex;align-items:center;justify-content:space-between;padding:10px 16px;cursor:pointer;font-weight:500;border-radius:16px;border:1px solid #e0e0e0;box-shadow:0px 1px 3px 0px rgba(0,0,0,.1)}.custom-select-options{position:absolute;top:100%;width:100%;padding:0 8px;border-radius:10px 10px 10px 10px;border:1px solid #e0e0e0;background:#fff;z-index:1;box-shadow:0px 10px 15px 0px rgba(0,0,0,.15)}.custom-select-options li{padding:10px 0;cursor:pointer;border-bottom:1px #d3d3d3 solid}.custom-select-options li:last-child{border:0}.custom-select-img{transform:rotate(0deg);transition:transform .2s linear}.custom-select-img--active{transform:rotate(180deg);transition:transform .2s linear}.main-style-input{width:100%;display:block;padding:10px 16px;cursor:pointer;font-weight:500;border-radius:16px;border:1px solid #e0e0e0;box-shadow:0px 1px 3px 0px rgba(0,0,0,.1)}.main-style-input:focus{cursor:auto}.main-style-button{width:100%;gap:10px;padding:10px 24px;color:#fff;font-weight:600;border-radius:16px;background-color:#ffa800 !important;transition:background-color .07s linear}.main-style-button:hover{cursor:pointer;transition:background-color .07s linear;background-color:#e9a31b !important}.second-style-button{cursor:pointer;border-radius:16px;font-weight:500;padding:10px;background:#f0f0f0;transition:background-color .07s linear}.second-style-button:hover{transition:background-color .07s linear;background-color:#e6e6e6}.form-input-error{font-size:13px;color:red;font-weight:500;animation:ease-in 2s 2 normal errorColor}@keyframes errorColor{0%{color:orange}100%{color:red}}
.logo{font-size:20px;font-weight:700;cursor:pointer}.burger{display:none;flex-direction:column;margin-right:10px;cursor:pointer;gap:3px}.burger span{display:block;background-color:#000;border-radius:2px;width:18px;height:2px}.header{margin-bottom:40px;border-bottom:1px solid #e0e0e0}.header a{color:#000 !important}.header__wrapper{display:flex;flex-direction:column}.header__main{padding:25px 0;flex-wrap:nowrap;display:flex;align-items:center}.header__block-1{flex-grow:1.3}.header__block-2{flex-grow:1;display:flex;align-items:center;gap:20px}.header__search{position:relative;flex-grow:1}.header__search input{padding:10px 16px 11px 16px;width:100%;border-radius:16px;border:1px solid #e0e0e0;background:#fff;box-shadow:0 1px 3px 0 rgba(0,0,0,.1)}.header__search-options{display:flex;flex-direction:column}.header__search-options-title{display:flex;flex-wrap:nowrap;align-items:center;overflow:hidden;height:42px;gap:5px;max-width:250px;font-weight:500}.header__search-options li{display:flex;justify-content:space-between;flex-wrap:nowrap;align-items:center;padding-left:15px;padding-right:15px;width:100%;font-weight:500}.header__search-options li img{border:0;object-fit:contain;width:40px;height:40px}.header__contacts{display:flex;align-items:center;gap:8px}.header__contacts img{width:17px;height:17px}.header__contactsMobile{display:none}.header__cart{display:flex;align-items:center;gap:12px;cursor:pointer}.header__cart-image{position:relative;display:inline-block;margin-right:12px;padding:9px 9px 5px;background:#ffa800;font-weight:700;border-radius:16px}.header__cart-image svg{width:24px;height:24px;fill:#fff}.header__cart-amount{display:flex;align-items:center;justify-content:center;position:absolute;left:74%;bottom:70%;min-width:20px;min-height:20px;padding-top:1px;border-radius:20px;border:2px solid #fff;font-size:11px;color:#fff;background:#ffa800}.header__cart-content{display:flex;flex-direction:column;font-weight:600}.header__cart-sum{display:inline-block;min-width:70px}@media screen and (max-width: 772px){.burger{display:flex}.header{margin-bottom:16px}.header__main{justify-content:space-between}.header__block-1,.header__block-2{flex-grow:0}.header__block-2{justify-content:flex-end}.header__search{display:none}.header__contacts{display:none}.header__contactsMobile{display:block}.header__cart{margin-top:2px}.header__cart-content{display:none}.header__cart-image{background:none;padding:0;margin:0}.header__cart-image svg{fill:#000}.header__cart-amount{left:64%;bottom:83%}}
.mobileMenu{font-size:16px;font-weight:500;overflow-y:scroll;position:absolute;left:0;top:0;z-index:1;background-color:#fff;width:100%;height:100%}.mobileMenu__header{border-bottom:1px #e0e0e0 solid;margin-bottom:20px}.mobileMenu__header-wrapper{padding:0 12px;margin-top:40px;display:flex;justify-content:space-between;align-items:center}.mobileMenu__header h2{margin-bottom:16px}.mobileMenu__content{padding:0 12px}.mobileMenu__exit{width:20px;height:25px;cursor:pointer;position:relative;margin-top:-10px}.mobileMenu__exit span{display:block;position:absolute;left:0;top:10px;width:18px;height:2px;background-color:#000}.mobileMenu__exit span:first-child{transform:rotate(45deg)}.mobileMenu__exit span:last-child{transform:rotate(-45deg)}.mobileMenu__list{display:flex;flex-direction:column;animation:fadeIn .1s linear forwards}.mobileMenu__list-item-img--expanded{rotate:180deg;transition:rotate .2s linear}.mobileMenu__list-item--first>.mobileMenu__list-item-title{margin-top:-4px;padding-top:0;border-top:0}.mobileMenu__list-item img{rotate:0;width:13px;transition:rotate .2s linear}.mobileMenu__list-item-title{display:flex;align-items:center;gap:5px;cursor:pointer;padding:16px 0;border-top:1px #e0e0e0 solid}.mobileMenu__list ul{margin-left:32px}@keyframes fadeIn{from{opacity:0}to{opacity:1}}.--hidden{overflow:hidden !important}
.nav{padding-bottom:15px}.nav__list{display:flex;position:relative}.nav__list-item{display:block;user-select:none;font-weight:500;padding:10px 16px;transition:background-color .1s linear;border-radius:16px}.nav__list-item:hover{cursor:pointer}.nav__list-item-wrapper{display:flex;align-items:center;gap:5px}.nav__list-item>.nav__context{left:0;top:100%}.nav__list-item--active{transition:background-color .1s linear;background-color:#f0f0f0}.nav__list-item--expand{gap:6px}.nav__list-item--expand .nav__list-item-expand-img{transform:rotate(0deg);transition:transform .2s linear}.nav__list-item--expand:hover .nav__list-item-expand-img{transform:rotate(180deg);transition:.2s linear}.nav__context{display:none;width:228px;padding:18px 20px;position:absolute;left:100%;top:-20px;z-index:1;border-radius:16px;border:1px solid #e0e0e0;animation:anim .12s linear;background:#fff;box-shadow:0px 10px 15px 0px rgba(0,0,0,.15)}.nav__context-wrapper{position:relative}.nav__context--active{display:block}.nav__context-item{position:relative}.nav__context-item-wrapper{padding:8px;width:100%;display:flex;align-items:center;justify-content:space-between}.nav__context-item:hover{border-radius:8px;background:#f0f0f0}.nav__context-item img{transform:rotate(-90deg)}@media screen and (max-width: 772px){.nav{display:none}}
.footer{padding:32px 0;border-top:1px solid #e0e0e0}.footer__wrapper{display:flex;align-items:center;justify-content:space-between}.footer__left-content{font-weight:500;line-height:180%}.footer__right-content .nav{border:0;padding:0;margin:0}@media screen and (max-width: 772px){.footer__wrapper{display:flex;justify-content:center;text-align:center}}
.home h2{margin-top:80px;margin-bottom:24px}
.banner{margin:0 0 80px 0}.banner__wrapper img{border-radius:10px}

.products{display:flex;justify-content:flex-start;align-items:flex-start;column-gap:16px;row-gap:30px}.products__item{max-width:284px;width:100%;display:flex;flex-direction:column;align-items:center;padding:16px;border-radius:16px;border:1px solid #e0e0e0;box-shadow:0 1px 3px 0 rgba(0,0,0,.1)}.products__item-availability{color:#10c44d;font-size:12px;font-weight:600}.products__item-availability--sold-out{color:red}.products__item-availability--coming-soon{color:orange}.products__item-left-content{display:flex;align-items:flex-end;gap:5px}.products__item-right-content{display:flex}.products__item-img-wrapper{height:253px;min-width:233px;padding-bottom:20px;cursor:pointer}.products__item-img-wrapper img{height:100%}.products__item-content{width:100%}.products__item-block-1{display:flex;align-items:center;justify-content:space-between;font-size:12px;height:29px}.products__item-reviews{position:relative;display:flex;align-items:center;gap:3px;font-weight:600}.products__item-block-2{display:flex;align-items:center;justify-content:space-between;margin:8px 0 9px 0}.products__item-price{font-size:24px;font-weight:600}.products__item-price--prev{display:flex;padding-bottom:2px;color:#a3a3a3}.products__item-price--prev s{font-weight:600;text-decoration-line:line-through}.products__item-wholesale{display:flex;padding:2px 8px 2px 6px;align-items:center;gap:4px;cursor:pointer;font-size:12px;font-weight:600;border-radius:6px;border:1px solid #e0e0e0;box-shadow:0 1px 3px 0 rgba(0,0,0,.1)}.products__item-title{font-size:14px;font-weight:600;display:block;min-height:34px}.products__item-description{height:42px;overflow:hidden;text-overflow:ellipsis;margin:6px 0 24px 0;font-size:14px;font-weight:500;line-height:150%}.products__item-inputs{display:flex;flex-wrap:nowrap;align-items:center;gap:12px}.products__item-push-cart-button{flex-grow:1}@media screen and (max-width: 772px){.products__item{max-width:366px}}@media screen and (max-width: 430px){.products{justify-content:center}}

.newsAndPromotions h2{margin-bottom:40px}.newsAndPromotions__content{display:flex;flex-direction:column;gap:66px}.newsAndPromotionsList{display:flex;width:100%;column-gap:16px;row-gap:20px}.newsAndPromotionsList__item{position:relative;width:100%;max-width:386px;height:453px;display:flex;flex-wrap:nowrap;flex-grow:1;flex-direction:column;border-radius:16px;box-shadow:0px 1px 3px 0px rgba(0,0,0,.15)}.newsAndPromotionsList__item-content-wrapper{padding:20px 16px 40px 16px}.newsAndPromotionsList__item-img-wrapper{width:100%;height:100%;max-height:255px}.newsAndPromotionsList__item-img-wrapper:hover{cursor:pointer}.newsAndPromotionsList__item-img-wrapper img{border-radius:16px 16px 0 0;width:100%;height:100%}.newsAndPromotionsList__item-description{max-width:357px}.newsAndPromotionsList__item-title{display:inline-block;margin-bottom:8px;font-size:20px;font-weight:600}.newsAndPromotionsList__item-text{margin-bottom:10px;font-weight:500;max-height:42px;line-height:150%;overflow:hidden;text-overflow-ellipsis:ellipsis}.newsAndPromotionsList__item-date{position:absolute;left:18px;top:423px;color:#a3a3a3;font-size:12px;font-weight:600}.newsCard h2{margin-bottom:20px}.newsCard p{font-size:16px;font-weight:500;line-height:150%}.newsCard img{margin:0 20px 0 0;width:100%;height:100%;max-width:289px;max-height:208px;border-radius:8px;float:left;object-fit:contain}@media screen and (max-width: 772px){.newsAndPromotionsList__item{max-width:366px}}@media screen and (max-width: 430px){.newsAndPromotionsList{justify-content:center}.newsAndPromotionsList__item{max-width:366px}.newsCard p{display:flex;flex-direction:column;gap:20px}.newsCard__img-wrapper{display:block;width:100%;text-align:center}.newsCard__img-wrapper img{float:none}}

.reviews h2{margin-bottom:20px}.reviews__wrapper{display:flex}.reviews__wrapper-inner{max-width:600px;width:100%}.reviews__form{display:none;flex-direction:column;gap:24px;align-items:flex-start;margin-bottom:40px;animation:fadeIn .5s ease-in-out forwards}.reviews__form--expanded{display:flex}.reviews__form .main-style-button{width:auto}@keyframes fadeIn{from{opacity:0}to{opacity:1}}.reviews__form-input-wrapper{width:100%;display:flex;flex-direction:column;gap:8px}.reviews__form-input-wrapper input{max-width:296px}.reviews__form-input-wrapper textarea{width:100%;resize:none;height:106px}.reviews__form-input-title{font-weight:500}.reviews .main-style-button{width:auto}.reviewsList{display:flex;gap:16px}.reviewsList__item{display:flex;flex-direction:column;gap:12px;width:100%;max-width:386px;padding:16px;border-radius:16px;border:1px solid #e0e0e0;box-shadow:0px 1px 3px 0px rgba(0,0,0,.1)}.reviewsList__item-img-wrapper{width:53px;padding-bottom:2px}.reviewsList__item-title-block{display:flex;align-items:center;gap:3px;min-height:63px;padding:4px 15px 4px 4px;cursor:pointer;border-radius:8px;background:#f0f0f0}.reviewsList__item-title-block h3{font-weight:600}.reviewsList__item-review-content{display:flex;flex-direction:column}.reviewsList__item-review-header{margin:12px 0 4px 0;font-weight:600;max-width:357px;max-height:37px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.reviewsList__item-review-body{font-weight:500;margin:0 0 8px 0}.reviewsList__item-review-body p{max-width:357px;max-height:37px;line-height:25px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.reviewsList__item-review-info{display:flex;flex-direction:column;line-height:140%}.reviewsList__item-review-user{font-weight:600}.reviewsList__item-review-date{font-size:12px;font-weight:600;color:#a3a3a3}.reviewsList--full{flex-direction:column}.reviewsList--full .reviewsList__item{width:100%;max-width:none}.reviewsList--full .reviewsList__item-review-content{width:100%}.reviewsList--full .reviewsList__item-review-body{width:100%}.reviewsList--full .reviewsList__item-review-body p{width:100%;max-width:none;max-height:none;white-space:normal}@media screen and (max-width: 772px){.reviewsList__item{max-width:366px}}@media screen and (max-width: 430px){.reviewsList{justify-content:center}}
.catalog__wrapper{display:flex;flex-direction:column;gap:40px}.catalog__path{font-weight:500}.catalog__path-item{cursor:pointer}.catalog__title-category-main{margin:16px 0 24px 0;display:inline-block}.catalog__subcategories{display:flex;gap:8px}.catalog__subcategories-item{display:inline-block;padding:10px 16px 11px 16px;font-weight:500;border-radius:16px;background:#f0f0f0}.catalog__breadcrumbs{display:flex;flex-direction:column}.catalog__block-2{display:flex;gap:16px;flex-wrap:nowrap;align-items:flex-start}.catalog__products{flex-grow:1;display:flex;flex-direction:column;gap:64px}.catalog__filter-display{display:none;align-items:center;justify-content:center;gap:7.3px;width:100%}.catalog__params{display:flex;flex-direction:column;max-width:288px;gap:24px;flex-shrink:0}.catalog__params-element-wrapper{display:flex;flex-direction:column;gap:8px}.catalog__params-title{font-weight:500}.catalog__params-inputs-wrapper{position:relative}.catalog__params-inputs-wrapper--setPrice{display:flex;gap:8px}.catalog__params-input{max-width:140px;flex-grow:1;display:block;padding:10px 16px;cursor:pointer;font-weight:500;border-radius:16px;border:1px solid #e0e0e0;box-shadow:0px 1px 3px 0px rgba(0,0,0,.1)}.catalog__params-input--expand{display:flex;align-items:center;justify-content:space-between}.catalog__params-input--setPrice{padding-left:46px}.catalog__params-input-wrapper{position:relative}.catalog__params-input-wrapper:after{color:#b3b3b3;font-weight:500;top:50%;left:16px;transform:translateY(-50%)}.catalog__params-input-wrapper:nth-child(1):after{position:absolute;content:"От"}.catalog__params-input-wrapper:nth-child(2):after{position:absolute;content:"До"}.catalog__params-reset{cursor:pointer;border-radius:16px;padding:10px 0;background:#f0f0f0}@media screen and (max-width: 772px){.catalog__params{display:none}.catalog__filter-display{display:flex}.catalog__wrapper{gap:21px}.catalog__title-category-main{margin:5px 0 0 0}.catalog .mobileMenu .catalog__params{display:flex;justify-content:stretch;min-width:100%}.catalog .mobileMenu .catalog__params .custom-select,.catalog .mobileMenu .catalog__params .custom-select-wrapper{width:100%}.catalog .mobileMenu .catalog__params-element-wrapper{min-width:100%}.catalog .mobileMenu .catalog__params-input{min-width:100%}.catalog .mobileMenu .catalog__params-inputs-wrapper{display:flex;flex-grow:1}.catalog .mobileMenu .catalog__params-input-wrapper{flex-grow:1}.catalog__breadcrumbs{gap:15px}.catalog__block-2{flex-direction:column}.catalog__products{flex-grow:0;width:100%}.catalog__path{display:none}}
.pagination{display:flex}.pagination-item{display:inline-block;padding:10px 14.5px;cursor:pointer;border-radius:16px;font-weight:500}.pagination-item--active{background:#f0f0f0}.pagination-item-wrapper{display:flex}.pagination-item-wrapper--control-wrapper{flex-grow:1}.pagination-item-wrapper--control-wrapper:last-child{display:flex;justify-content:end}.pagination-item-wrapper--control-wrapper .pagination-item{background:#f0f0f0}
.error__wrapper{text-align:center}
.shipAndPay h2{margin-bottom:20px}.shipAndPay p{font-size:16px;font-weight:500;line-height:150%}
.about h2{margin-bottom:20px}.about p{font-size:16px;font-weight:500;line-height:150%}
.contacts{font-size:16px;font-weight:500}.contacts h2{margin-bottom:40px}.contacts h3{margin-bottom:17px;font-size:24px;font-style:normal;font-weight:600}.contacts__content-top{display:flex;gap:40px}.contacts__content-top-block{flex-grow:1;flex-basis:0;line-height:190%;min-width:333px;padding:20px 24px;border-radius:16px;border:1px solid #e0e0e0;box-shadow:0px 1px 3px 0px rgba(0,0,0,.1)}.contacts__content-top-block a{color:#000 !important}
.cart__wrapper{display:flex;gap:40px}.cart__cart-content{display:flex;flex-direction:column;gap:40px;flex-grow:1.4}.cart__goods-list{display:flex;flex-direction:column;gap:16px}.cart__goods-empty-title{margin:0 auto}.cart__goods-item{display:flex;justify-content:space-between;width:100%;height:88px;padding:12px 40px 12px 12px;border-radius:16px;border:1px solid #e0e0e0;background:#fff;box-shadow:0px 1px 3px 0px rgba(0,0,0,.1)}.cart__goods-item-content-left{display:flex;align-items:center;gap:12px}.cart__goods-item-content-right{display:flex;align-items:center;gap:32px}.cart__goods-item-img{width:64px;height:64px}.cart__goods-item-text-content{display:flex;flex-direction:column;gap:3px}.cart__goods-item-title{font-weight:600}.cart__goods-item-viewPrice{font-weight:500}.cart__goods-item-counter{display:flex;flex-wrap:nowrap;gap:20px;padding:10px 16px;user-select:none;font-weight:700;border-radius:16px;background:#f0f0f0}.cart__goods-item-counter-display{display:inline-block;text-align:center;min-width:23px}.cart__goods-item-counter-control{cursor:pointer}.cart__goods-item-price{text-align:center;min-width:84px;font-size:20px;font-weight:600}.cart__goods-item-deleteImg{cursor:pointer}.cart__totalPrice{align-self:flex-end}.cart__form{flex-grow:1;max-width:344px}.cart__form form{display:flex;flex-direction:column;gap:40px}.cart__form-wrapper{display:flex;flex-direction:column;gap:24px}.cart__form-input-wrapper{position:relative;display:flex;flex-direction:column;gap:8px}.cart__form-input-title .required-symbol{font-size:16px;color:red;font-weight:700}@media screen and (max-width: 772px){.cart__wrapper{flex-direction:column}.cart__form{max-width:none}}
.productCard__container{max-width:600px;width:100%}.productCard__wrapper{display:flex;flex-direction:column;flex-wrap:nowrap;gap:40px}.productCard__content{display:flex;flex-direction:column;gap:64px;flex-wrap:nowrap}.productCard__product{display:flex;flex-wrap:nowrap;gap:128px}.productCard__product-content-left{display:flex;flex-direction:column;flex-wrap:nowrap;max-width:600px;width:100%;gap:64px}.productCard__img-wrapper{text-align:center;max-width:600px;max-height:600px}.productCard__img-wrapper img{object-fit:contain;width:100%;height:100%}.productCard__description h2{margin-bottom:20px}.productCard__reviews-title{align-content:center;display:flex;justify-content:space-between;margin-bottom:20px}.productCard__product-content-right{max-width:472px;width:100%}.productCard__product-content-right .products__item-description{max-height:192px}@media screen and (max-width: 772px){.productCard__product{gap:10px;flex-direction:column}.productCard__product-content-left,.productCard__product-content-right{align-items:center;max-width:100%}.productCard__container{max-width:100%}}
.successOrder__content{display:flex;flex-direction:column;align-items:center;gap:35px;text-align:center;margin:200px 0 200px 0}.successOrder__text{width:100%;display:flex;flex-direction:column;align-items:center;gap:16px}.successOrder__text h1{font-size:32px;font-weight:700}.successOrder__text p{max-width:440px;width:100%;font-size:16px;font-weight:500;line-height:150%}.successOrder__button{max-width:205px}
.searchResult h2{margin-bottom:40px}
