.slider {
  overflow: hidden;
  position: relative;

  &__list {
    position: relative;
    white-space: nowrap;
    border-radius: 10px;
    height: fit-content;
    transition: .5s linear;

    &-arrow-left {
      content: url("../../../../public/imgs/leftSliderArrow.svg");
      z-index: 1;
      position: absolute;
      display: inline-block;
      top: 50%;
      transform: translate(60%, -50%);
      cursor: pointer;
    }

    &-arrow-right {
      content: url("../../../../public/imgs/rightSliderArrow.svg");
      z-index: 1;
      position: absolute;
      display: inline-block;
      left: 100%;
      top: 50%;
      transform: translate(-160%, -50%);
      cursor: pointer;
    }
  }

  &__item {
    display: inline-block;
    width: 100%;


    img {
      width: 100%;
    }
  }
}