.cart {

  &__wrapper {
    display: flex;
    gap: 40px;
  }

  &__cart-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-grow: 1.4;
  }

  &__goods-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__goods-empty-title {
    margin: 0 auto;
  }

  &__goods-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 88px;
    padding: 12px 40px 12px 12px;
    border-radius: 16px;
    border: 1px solid #E0E0E0;
    background: #FFF;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
  }

  &__goods-item-content-left {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__goods-item-content-right {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__goods-item-img {
    width: 64px;
    height: 64px;
  }

  &__goods-item-text-content {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  &__goods-item-title {
    font-weight: 600;
  }

  &__goods-item-viewPrice {
    font-weight: 500;
  }

  &__goods-item-counter {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 10px 16px;
    user-select: none;
    font-weight: 700;
    border-radius: 16px;
    background: #F0F0F0;

    &-display {
      display: inline-block;
      text-align: center;
      min-width: 23px;
    }

    &-control {
      cursor: pointer;
    }
  }

  &__goods-item-price {
    text-align: center;
    min-width: 84px;
    font-size: 20px;
    font-weight: 600;
  }

  &__goods-item-deleteImg {
    cursor: pointer;
  }

  &__totalPrice {
    align-self: flex-end;
  }

  &__form {
    flex-grow: 1;
    max-width: 344px;

    form {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }

  &__form-input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__form-input-title {
    .required-symbol {
      font-size: 16px;
      color: red;
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 772px) {
  .cart {
    &__wrapper {
      flex-direction: column;
    }

    &__form {
      max-width: none;
    }
  }
}

@media screen and (max-width: 430px) {
  .cart {
    &__goods {

      &-list {

      }

      &-item {
        padding: 10px;
        * {
          flex-wrap: nowrap;
          font-size: 13px;
        }
        &-content {
          &-right {
            gap: 0px;
          }

          &-left {
            gap: 5px;
          }

        }

        &-counter {
          gap: 15px;
          padding: 10px;
        }

        &-price {
          padding-left: 6.5px;
          min-width: 71px;
        }
      }
    }

  }
}

@media screen and (max-width: 380px) {
  .cart {
    &__goods {

      &-list {

      }
      &-item {
        * {
          flex-wrap: nowrap;
          font-size: 12px;
        }
        &-counter {
          gap: 7px;
        }
        &-price {
          min-width: 60px;
        }
        &-img {
          width: 50px;
          height: auto;
        }
      }


    }

  }
}@media screen and (max-width: 325px) {
  .cart {
    &__goods {

      &-list {
      }
      &-item {
        &-price {
          min-width: 54.5px;
        }
       &-counter {
         gap: 6px;
       }
        &-img {
          width: 38px;
        }
      }


    }

  }
}