.newsAndPromotions {
  h2 {
    margin-bottom: 40px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 66px;
  }

  &List {
    display: flex;
    width: 100%;
    column-gap: 16px;
    row-gap: 20px;

    &__item {
      position: relative;
      width: 100%;
      max-width: 386px;
      height: 424px;
      display: flex;
      flex-wrap: nowrap;
      flex-grow: 1;
      flex-direction: column;
      border-radius: 16px;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);

      &-content-wrapper {
        padding: 20px 16px 40px 16px;
      }

    }

    &__item-img-wrapper {
      width: 100%;
      height: 100%;
      max-height: 255px;

      &:hover {
        cursor: pointer;
      }

      img {
        border-radius: 16px 16px 0 0;
        width: 100%;
        height: 100%;
      }

    }


    &__item-description {
      max-width: 357px;
    }

    &__item-title {
      display: inline-block;
      margin-bottom: 8px;
      font-size: 20px;
      font-weight: 600;
    }

    &__item-text {
      margin-bottom: 10px;
      font-weight: 500;
      max-height: 42px;
      line-height: 150%; /* 21px */
      overflow: hidden;
      text-overflow-ellipsis: ellipsis;
    }

    &__item-date {
      position: absolute;
      left: 18px;
      top: 393px;


      color: #A3A3A3;
      font-size: 12px;
      font-weight: 600;
    }
  }
}

.newsCard {
  &__wrapper {

  }

  &__content {
  }

  h2 {
    margin-bottom: 20px;
  }

  p {

    font-size: 16px;
    font-weight: 500;
    line-height: 150%; /* 24px */
  }


  img {
    margin: 0 20px 0 0;
    width: 100%;
    height: 100%;
    max-width: 289px;
    max-height: 208px;
    border-radius: 8px;
    float: left;
    object-fit: contain;
  }
}

@media screen and (max-width: 772px) {
  .newsAndPromotionsList {
    &__item {
      max-width: 366px;
    }
  }

}

@media screen and (max-width: 430px) {
  .newsAndPromotionsList {
    justify-content: center;

    &__item {
      max-width: 366px;
    }
  }
  .newsCard {
    p {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    &__img-wrapper {
      display: block;
      width: 100%;
      text-align: center;

      img {
        float: none;
        margin: 0;

      }
    }

  }
}